.header{
    height: 5rem;
}
.footer{
    height: 7rem;
    font-size: 2rem;
}
td, th{
    text-align: center;
}
th:first-child, td:first-child{
    text-align: left;
}
th{
    cursor: pointer;
}
.error{
    height: 40vH;
}
.scroll {
    width: 100%;
    height: 60vH;
    overflow: scroll;
    overflow-x: hidden;
}
.choose{
    background-color: lavender;
}